aside.sidebar 
    .form-control.mb20
        label(for="date") Даты пребывания в отеле 
        button.form-button 19 авг - 23 авг
    .form-control.mb30
        label(for="date") Гости
        button.form-button 3 гостя, 1 младенец
    .form-control.mb30
        label(for="s") Диапазон цены  
        span.sidebar__range  5000Р - 10000Р
        #double-range
        small Стоимость за сутки пребывания в номере
    h4.subtitle.mb15 правила дома
    .mb30
        ul.sidebar__list
            li.sidebar__item
                .form-checkbox  
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Можно курить
                    </label>
            li.sidebar__item
                .form-checkbox 
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Можно с питомцами
                    </label>
            li.sidebar__item
                .form-checkbox 
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Можно пригласить гостей <br>(до 10 человек)
                    </label>
    h4.subtitle.mb15 Доступность
    .mb30
        ul.sidebar__list
            .form-checkbox
                li.sidebar__item 
                    <label class="flex">
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        .wrap 
                            p.form-checkbox__title Широкий коридор
                            p.form-checkbox__text Ширина коридоров в номере не менее 91 см.
                    </label>
            li.sidebar__item
                .form-checkbox
                    <label class="flex">
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        .wrap 
                            p.form-checkbox__title Помощник для инвалидов
                            p.form-checkbox__text На 1 этаже вас встретит специалист  и проводит до номера.
                    </label>
    .form-control.mb30 
        label(for="") Удобство номера
        button.form-button 2 спальни, 2 кровати... 
    .form-control.mb20 
        label(for="") Дополнительные удобства 
        span.arrow
        
    .sidebar__additionally
        .hiden
        ul.sidebar__list
            li.sidebar__item 
                .form-checkbox
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Завтрак
                    </label>
            li.sidebar__item 
                .form-checkbox
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Письменный стол
                    </label>
            li.sidebar__item
                .form-checkbox
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Стул для кормления
                    </label>
            li.sidebar__item 
                .form-checkbox
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Кроватка
                    </label>
            li.sidebar__item
                .form-checkbox
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Телевизор
                    </label>
            li.sidebar__item
                .form-checkbox
                    <label> 
                        input(type="checkbox").form-checkbox__real
                        span.form-checkbox__custom
                        span Шампунь 
                    </label>