
<aside class="sidebar"> 
  <div class="form-control mb20">
    <label for="date">Даты пребывания в отеле </label>
    <button class="form-button">19 авг - 23 авг</button>
  </div>
  <div class="form-control mb30">
    <label for="date">Гости</label>
    <button class="form-button">3 гостя, 1 младенец</button>
  </div>
  <div class="form-control mb30">
    <label for="s">Диапазон цены  </label><span class="sidebar__range"> 5000Р - 10000Р</span>
    <div id="double-range"></div><small>Стоимость за сутки пребывания в номере</small>
  </div>
  <h4 class="subtitle mb15">правила дома</h4>
  <div class="mb30">
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <div class="form-checkbox">
           <label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Можно курить</span></label>
        </div>
      </li>
      <li class="sidebar__item">
        <div class="form-checkbox">
           <label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Можно с питомцами</span></label>
        </div>
      </li>
      <li class="sidebar__item">
        <div class="form-checkbox">
           <label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Можно пригласить гостей <br>(до 10 человек)</span></label>
        </div>
      </li>
    </ul>
  </div>
  <h4 class="subtitle mb15">Доступность</h4>
  <div class="mb30">
    <ul class="sidebar__list">
      <div class="form-checkbox">
        <li class="sidebar__item">
           <label class="flex">
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span>
          <div class="wrap"> 
            <p class="form-checkbox__title">Широкий коридор</p>
            <p class="form-checkbox__text">Ширина коридоров в номере не менее 91 см.</p>
          </div></label>
        </li>
      </div>
      <li class="sidebar__item">
        <div class="form-checkbox"><label class="flex">
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span>
          <div class="wrap"> 
            <p class="form-checkbox__title">Помощник для инвалидов</p>
            <p class="form-checkbox__text">На 1 этаже вас встретит специалист  и проводит до номера.</p>
          </div></label>
        </div>
      </li>
    </ul>
  </div>
  <div class="form-control mb30"> 
    <label for="">Удобство номера</label>
    <button class="form-button">2 спальни, 2 кровати... </button>
  </div>
  <div class="form-control mb20"> 
    <label for="">Дополнительные удобства </label><span class="arrow"></span>
  </div>
  <div class="sidebar__additionally">
    <div class="hiden"></div>
    <ul class="sidebar__list">
      <li class="sidebar__item"> 
        <div class="form-checkbox"><label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Завтрак</span></label>
        </div>
      </li>
      <li class="sidebar__item"> 
        <div class="form-checkbox"><label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Письменный стол</span></label>
        </div>
      </li>
      <li class="sidebar__item">
        <div class="form-checkbox"><label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Стул для кормления</span></label>
        </div>
      </li>
      <li class="sidebar__item"> 
        <div class="form-checkbox"><label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Кроватка</span></label>
        </div>
      </li>
      <li class="sidebar__item">
        <div class="form-checkbox"><label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Телевизор</span></label>
        </div>
      </li>
      <li class="sidebar__item">
        <div class="form-checkbox"><label> 
          <input class="form-checkbox__real" type="checkbox"/><span class="form-checkbox__custom"></span><span>Шампунь </span></label>
        </div>
      </li>
    </ul>
  </div>
</aside>