
<header class="header">
  <div class="header-wrap container flex sb ac">
    <div class="logo flex ac"> 
      <img class="logo-img" src="./src/assets/img/header/logo.svg" alt="toxin"/>
      <h1 class="logo-title">toxin </h1>
    </div>
    <div class="flex ac">
      <nav class="header-nav">
        <ul class="header-nav__list flex"> 
          <li class="header-nav__item"> 
            <a class="link" href="#">О нас</a>
          </li>
          <li class="header-nav__item"> <a class="link flex" href="#">Услуги
              <p class="link_arrow"> </p></a>
          </li>
          <li class="header-nav__item"> <a class="link" href="#">Вакансии</a>
          </li>
          <li class="header-nav__item"> <a class="link" href="#">Новости</a>
          </li>
          <li class="header-nav__item"> <a class="link flex" href="#">Соглашения
              <p class="link_arrow"> </p></a>
          </li>
        </ul>
      </nav>
      <div class="header-btns"> 
        <button class="btn">Войти</button>
        <button class="purple">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</header>