
<div class="search">
  <h2 class="search__title">Найдём номера под ваши пожелания</h2>
  <div class="flex sb ac">
    <div class="search__date form-control" id="calDrop"> 
      <label for="timeOne">Прибытие</label>
      <button class="form-button" id="timeOne" data-drop="data-drop">ДД.ММ.ГГГГ</button>
    </div>
    <div class="search__date form-control"> 
      <label for="timeTwo">Выезд</label>
      <button class="form-button" id="timeTwo" data-drop="data-drop">ДД.ММ.ГГГГ </button>
    </div>
  </div>
  <div class="guests form-control" id="drop">
    <label for="guests">Гости</label>
    <button class="form-button" data-drop="data-drop">Сколько гостей</button>
  </div>
  <button class="purple-big">подобрать номер -></button>
</div>