extends ../layout/main
block content
    main.landing__main
        .landing__root
            .landing__img 
                .landing__content
                    .landing__search
                        include ../modules/search.pug
                    p.landing__text  Лучшие номера для вашей работы, <br>  отдыха и просто вдохновения
                