
<div class="wrapper"> 
  <header class="header">
    <div class="header-wrap container flex sb ac">
      <div class="logo flex ac"> <img class="logo-img" src="./src/assets/img/header/logo.svg" alt="toxin"/>
        <h1 class="logo-title">toxin </h1>
      </div>
      <div class="flex ac">
        <nav class="header-nav">
          <ul class="header-nav__list flex"> 
              <li class="header-nav__item"> <a class="link" href="#">О нас</a>
              </li>
              <li class="header-nav__item"> <a class="link flex" href="#">Услуги
                  <p class="link_arrow"> </p></a>
              </li>
              <li class="header-nav__item"> <a class="link" href="#">Вакансии</a>
              </li>
              <li class="header-nav__item"> <a class="link" href="#">Новости</a>
              </li>
              <li class="header-nav__item"> <a class="link flex" href="#">Соглашения
                  <p class="link_arrow"> </p></a>
              </li>
          </ul>
        </nav>
        <div class="header-btns"> 
          <button class="btn">Войти</button>
          <button class="purple">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
    <main class="room"> 
      <div class="room__imgs flex jcc">
        <div class="room__bigger"><img class="room__big" src="./src/assets/img/room/first.png" alt="room"/></div>
        <div class="room__less"><img class="room__small" src="./src/assets/img/room/third.png" alt="room"/><img class="room__small" src="./src/assets/img/room/third.png" alt="room"/></div>
      </div>
      <div class="room__detalis container flex sb">
        <div class="room__main">
          <div class="room__info flex sb">
            <div class="room__about">
              <h3 class="subtitle-big">Сведения о номере</h3>
              <ul class="room__intelligence">
                <li class="room__information flex ac"> <img src="./src/assets/img/room/insert_emoticon.svg" alt="smile"/>
                  <div class="ml10">
                    <h4 class="grey-text"><strong>Комфорт</strong></h4>
                    <p class="grey-text">Шумопоглощающие стены</p>
                  </div>
                </li>
                <li class="room__information flex ac"> <img src="./src/assets/img/room/location_city.svg" alt="city"/>
                  <div class="ml10">
                    <h4 class="grey-text"><strong>Удобство</strong></h4>
                    <p class="grey-text">Номер оснащён камином</p>
                  </div>
                </li>
                <li class="room__information flex ac"> <img src="./src/assets/img/room/whatshot.svg" alt="smile"/>
                  <div class="ml10">
                    <h4 class="grey-text"><strong>Уют</strong></h4>
                    <p class="grey-text">Номер оснащён камином</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="room__impressions">
              <h3 class="subtitle-big">Впечатления от номера</h3>
              <div class="room__diagram flex">
                <div class="circle">
                  <div class="circle__border"></div>
                  <p class="circle__number">260</p>
                  <p class="circle__vote">голоса</p>
                </div>
                <ul class="room__appraisals">
                  <li class="grey-text mark-li room__great">Великолепно</li>
                  <li class="grey-text mark-li room__well">Хорошо</li>
                  <li class="grey-text mark-li room__satisfactory">Удовлетворительно </li>
                  <li class="grey-text mark-li room__disappointment">Разочарован</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="room__feedback"> 
            <div class="flex sb ac">
              <h3 class="subtitle-big">Отзывы посетителей номера</h3><span class="grey-small">2 отзыва</span>
            </div>
            <ul class="room__comments"> 
              <li class="room__comment flex">
                <div class="room__who"> <img class="room__avatar" src="./src/assets/img/room/first.png" alt="avatar"/>
                  <div class="form-checkbox room__like"><label>
                    <input class="real-checkbox" type="checkbox"/><span class="btn-like">2</span></label>
                  </div>
                </div>
                <div class="comment__main ml10"> 
                  <h4 class="grey-text"><strong>Мурад Сарафанов</strong></h4>
                  <p class="grey-text mb10">5 дней назад</p>
                  <p class="grey-text">Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.</p>
                </div>
              </li>
              <li class="room__comment flex">
                <div class="room__who"> <img class="room__avatar" src="./src/assets/img/room/third.png" alt="avatar"/>
                  <div class="form-checkbox room__like"><label>
                    <input class="real-checkbox" type="checkbox"/><span class="btn-like">111</span></label>
                  </div>
                </div>
                <div class="comment__main ml10"> 
                  <h4 class="grey-text"><strong>Патрисия Стёклышкова</strong></h4>
                  <p class="grey-text mb10">Неделю назад</p>
                  <p class="grey-text">Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="room__other flex sb">
            <div class="room__rules">
              <h4 class="subtitle-big">Правила</h4>
              <ul class="room__list"> 
                <li class="grey-text mark-li">Нельзя с питомцами</li>
                <li class="grey-text mark-li">Без вечеринок и мероприятий</li>
                <li class="grey-text mark-li">Время прибытия — после 13:00,<br> а выезд до 12:00</li>
              </ul>
            </div>
            <div class="cancel">
              <h4 class="subtitle-big mb20">Отмена</h4>
              <p class="grey-text">Бесплатная отмена в течение 48 ч. После <br> этого при отмене не позднее чем за 5 дн. до <br> прибытия вы получите полный возврат за <br> вычетом сбора за услуги.</p>
            </div>
          </div>
        </div>
        <div class="room__conditions">
          <div class="room__order">   
            <div class="info-room flex sb ac"> 
              <h4 class="number-room">№ 888 <span class="luxury-room">Люкс</span></h4>
              <p class="text"><strong>9 990₽</strong> в сутки</p>
            </div>
            <div class="flex sb ac">
              <div class="search__date form-control" id="calDrop"> 
                <label for="timeOne">Прибытие</label>
                <button class="form-button" id="timeOne" data-drop="data-drop">ДД.ММ.ГГГГ</button>
              </div>
              <div class="search__date form-control"> 
                <label for="timeTwo">Выезд</label>
                <button class="form-button" id="timeTwo" data-drop="data-drop">ДД.ММ.ГГГГ </button>
              </div>
            </div>
            <div class="guests form-control" id="drop">
              <label for="guests">Гости</label>
              <button class="form-button" data-drop="data-drop">Сколько гостей</button>
            </div>
            <ul class="room__details"> 
              <li class="room__detail flex sb grey-text">  
                <p class="grey-text">9 990₽ x 4 суток</p>
                <p class="grey-text">39 960₽</p>
              </li>
              <li class="room__detail flex sb grey-text">  
                <p class="grey-text">Сбор за услуги: скидка 2 179₽</p>
                <p class="grey-text">0₽</p>
              </li>
              <li class="room__detail flex sb grey-text">  
                <p class="grey-text">Сбор за дополнительные<br> услуги</p>
                <p class="grey-text">300₽</p>
              </li>
            </ul>
            <div class="room__total flex"> 
              <h4 class="subtitle-big">Итого</h4>
              <div class="pointer"></div>
              <p class="subtitle-big">38 081₽</p>
            </div>
            <button class="purple-big">Забранировать </button>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer class="footer"> 
    <div class="container">
      <div class="footer-content flex sb">
        <div class="footer-content__info">
          <div class="logo flex ac"> <img class="logo-img" src="./src/assets/img/header/logo.svg" alt="toxin"/>
            <h1 class="logo-title">toxin </h1>
          </div>
          <p class="footer-text grey-text">
            Бронирование номеров в лучшем отеле  
            2019 года по версии 
            ассоциации «Отельные взгляды»
          </p>
        </div>
        <nav class="footer-content-nav">
            <h3 class="subtitle">Навигация</h3>
          <ul class="footer-content__list"> 
              <li class="footer-content__item"> <a class="link" href="#">О нас</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Новости</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Служба поддержки</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Услуги</a></li>
          </ul>
        </nav>
        <div class="footer-content__about"> 
            <h3 class="subtitle">О нас</h3>
          <ul class="footer-content__list"> 
              <li class="footer-content__item"> <a class="link" href="#">О сервисе</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Наша команда</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Вакансии</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Инвесторы</a></li>
          </ul>
        </div>
        <div class="footer-content__help">
            <h3 class="subtitle">Служба поддержки</h3>
          <ul class="footer-content__list"> 
              <li class="footer-content__item"> <a class="link" href="#">Соглашения</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Сообщества</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Связь с нами</a></li>
          </ul>
        </div>
        <div class="footer-content__sub"> 
            <h3 class="subtitle">Подписка</h3>
          <p class="footer-text grey-text">
            Получайте специальные 
            предложения и новости сервиса
            
            
            
          </p>
        </div>
      </div>
    </div>
    <div class="footer-bar">
      <div class="container flex sb ac">
        <p class="footer-bar__copyright">Copyright © 2018 Toxin отель. Все права защищены.</p>
        <ul class="footer-bar__list flex ac">
          <li class="footer-bar__item"><a class="footer-bar__link" href="#"><img class="footer-bar__img" src="./src/assets/img/footer/tw.svg" alt="twitter"/></a></li>
          <li class="footer-bar__item"><a class="footer-bar__link" href="#"><img class="footer-bar__img" src="./src/assets/img/footer/f.svg" alt="facebook"/></a></li>
          <li class="footer-bar__item"><a class="footer-bar__link" href="#"><img class="footer-bar__img" src="./src/assets/img/footer/in.svg" alt="instagram"/></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>