
<div class="wrapper"> 
  <header class="header">
    <div class="header-wrap container flex sb ac">
      <div class="logo flex ac"> <img class="logo-img" src="./src/assets/img/header/logo.svg" alt="toxin"/>
        <h1 class="logo-title">toxin </h1>
      </div>
      <div class="flex ac">
        <nav class="header-nav">
          <ul class="header-nav__list flex"> 
              <li class="header-nav__item"> <a class="link" href="#">О нас</a>
              </li>
              <li class="header-nav__item"> <a class="link flex" href="#">Услуги
                  <p class="link_arrow"> </p></a>
              </li>
              <li class="header-nav__item"> <a class="link" href="#">Вакансии</a>
              </li>
              <li class="header-nav__item"> <a class="link" href="#">Новости</a>
              </li>
              <li class="header-nav__item"> <a class="link flex" href="#">Соглашения
                  <p class="link_arrow"> </p></a>
              </li>
          </ul>
        </nav>
        <div class="header-btns"> 
          <button class="btn">Войти</button>
          <button class="purple">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
  </div>
  <footer class="footer"> 
    <div class="container">
      <div class="footer-content flex sb">
        <div class="footer-content__info">
          <div class="logo flex ac"> <img class="logo-img" src="./src/assets/img/header/logo.svg" alt="toxin"/>
            <h1 class="logo-title">toxin </h1>
          </div>
          <p class="footer-text grey-text">
            Бронирование номеров в лучшем отеле  
            2019 года по версии 
            ассоциации «Отельные взгляды»
          </p>
        </div>
        <nav class="footer-content-nav">
            <h3 class="subtitle">Навигация</h3>
          <ul class="footer-content__list"> 
              <li class="footer-content__item"> <a class="link" href="#">О нас</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Новости</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Служба поддержки</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Услуги</a></li>
          </ul>
        </nav>
        <div class="footer-content__about"> 
            <h3 class="subtitle">О нас</h3>
          <ul class="footer-content__list"> 
              <li class="footer-content__item"> <a class="link" href="#">О сервисе</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Наша команда</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Вакансии</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Инвесторы</a></li>
          </ul>
        </div>
        <div class="footer-content__help">
            <h3 class="subtitle">Служба поддержки</h3>
          <ul class="footer-content__list"> 
              <li class="footer-content__item"> <a class="link" href="#">Соглашения</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Сообщества</a></li>
              <li class="footer-content__item"> <a class="link" href="#">Связь с нами</a></li>
          </ul>
        </div>
        <div class="footer-content__sub"> 
            <h3 class="subtitle">Подписка</h3>
          <p class="footer-text grey-text">
            Получайте специальные 
            предложения и новости сервиса
            
            
            
          </p>
        </div>
      </div>
    </div>
    <div class="footer-bar">
      <div class="container flex sb ac">
        <p class="footer-bar__copyright">Copyright © 2018 Toxin отель. Все права защищены.</p>
        <ul class="footer-bar__list flex ac">
          <li class="footer-bar__item"><a class="footer-bar__link" href="#"><img class="footer-bar__img" src="./src/assets/img/footer/tw.svg" alt="twitter"/></a></li>
          <li class="footer-bar__item"><a class="footer-bar__link" href="#"><img class="footer-bar__img" src="./src/assets/img/footer/f.svg" alt="facebook"/></a></li>
          <li class="footer-bar__item"><a class="footer-bar__link" href="#"><img class="footer-bar__img" src="./src/assets/img/footer/in.svg" alt="instagram"/></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>